EXPO_PUBLIC_AI_BASE_URL=https://maas-coding-api.cn-huabei-1.xf-yun.com/v2
EXPO_PUBLIC_AI_API_KEY=only-for-native-client-builds
EXPO_PUBLIC_AI_MODEL_ID=astron-code-latest
EXPO_PUBLIC_AI_PROXY_URL=http://localhost:8787

AI_BASE_URL=https://maas-coding-api.cn-huabei-1.xf-yun.com/v2
AI_API_KEY=your-api-key
AI_PROXY_PORT=8787
